
<%- include('partials/user_nav.html') %>
<h1>Update your ticket!</h1>

<form action="/rides/update-ticket/<%= ticket._id %>" method="post">
    <section>
        <% let ticketCost = ticket.totalCost %>
        <hidden name="ticketId" value="<%= ticket._id %>">
        <p>Standard Price: <%=standard%></p>
        <h3>Select Date</h3>
        <label for="date"><p>Date: </p></label>
        <input type="date" name="date" id="date" value="<%= ticket.date %>">
    </section>
    <section>
        <h3>Amend Fast-track rides</h3>
        <% for (let i = 0; i < rides.length; i++)
        {%>
            <section>
                <label for="<%= rides[i].name %>">
                    <p><strong><%= rides[i].name %></strong></p>
                    <p>Fast-Track Price: £<%= rides[i].price %></p>
                </label>
                <% if (selectedRides.includes(rides[i]._id.toString())) { %>
                    <input type="checkbox" class="rides" name="ride[<%= rides[i]._id %>]" data-price="<%= rides[i].price %>" value="<%= rides[i].name %>" id="id[]" checked>
                <% } else { %>
                    <input type="checkbox" class="rides" name="ride[<%= rides[i]._id %>]" data-price="<%= rides[i].price %>" value="<%= rides[i].name %>" id="id[]">
                <% } %>
            </section>
        <% } %>
    </section>
    <p>Total Price: £<output id="total-price"><%=ticketCost %></output></p>
   
    <input type="submit" value="Update Ticket">
</form>


<script>
    const standard = parseInt('<%= standard %>');
    const ticketCost = parseInt('<%= ticketCost %>');
    const checkboxes = document.querySelectorAll('.rides');
    // let selectedRides = [];
    
    // console.log(selectedRides);



    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            let totalPrice = standard;
            checkboxes.forEach(function(cb) {
                if (cb.checked) {
                    totalPrice += parseInt(cb.getAttribute('data-price'));
                }
            });        
            document.getElementById('total-price').textContent = totalPrice;
        });
    });
</script>

