
<body>
    <%- include('partials/user_nav.html') %>

    <h1>Ticket Details</h1>
    <div class="ticket">
        
        <p>Date: <%= ticket.date %></p>
        <h2>Fast Track Rides</h2>
        <% for (let i =0; i < ticket.ticket.length; i++) 
        { %>
            <ul>
                <li><%= ticket.ticket[i].name %></li>
                <ul>
                    <li>Price: £<%= ticket.ticket[i].price %></li>
                    <li>Used: <%= ticket.ticket[i].used %></li>
                </ul>
            </ul>
        <% } %>

        <p>Price: £<%= ticket.totalCost %></p>
        
    </div>
</body>
